/*
- fonts
- html body generic classes
- form
- boostrap / nav
- containers
- sections
	- intro
	- welcome
	- smart-methodology
	- about
	- footer
*/

:root {
	/* colors */
	--blue: #2B2C54;
	--darkblue: #20213f;
	/*--skyblue: #4ae0db;*/
	--skyblue: #36e1db;
	--green: #59E2AD;
	--darkGreen: #0e6864;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
/* end fonts */



/* html body generic classes */
a {
	outline: none;
}
a:hover,
a:focus {
	text-decoration: underline;
}
body {
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: #404040;
	background-color: #FFF;
}
p {
	font-family: 'Roboto', 'Hevetica', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: normal;
	letter-spacing: normal;
	opacity: 0.7;
}
cite {
	font-size: 14px;
	line-height: 24px;
}
h1 {
	color: #fff;
}
nav h1 {
	display: none;
}
h2 {
	color: var(--blue);
	font-size: 40px;
	line-height: 50px;
	font-weight: bold;
	margin-bottom: 30px;
	letter-spacing: .5px;
	margin-bottom: 30px;
}
h3 {
	color: var(--blue);
	font-size: 28px;
	line-height: 38px;
	font-weight: 500;
	opacity: 0.7;
	margin-bottom: 30px;
}
@media(max-width: 500px) {
	h2 {
		font-size: 32px;
		margin-bottom: 15px;
	}
}
.white {
	color: #fff;
}
i {
	font-size: 2em;
}
button {
	font-size: 16px;
	line-height: 16px;
	color: var(--blue);
	padding: 14px 32px;
	padding-top: 16px;
	border-radius: 32px;
	background-color: #FFF;
	letter-spacing: 0.4px;
	border: none;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
button:hover,
button:focus {
	background-color: var(--green);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
button.bg-blue {
	color: #FFFFFF;
	background-color: transparent;
	border: 1px solid #FFFFFF;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
button.bg-blue:hover,
button.bg-blue:focus {
	color: var(--blue);
	background-color: var(--green);
	border: 1px solid var(--green);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
button.bg-green {
	color: var(--blue);
	background-color: transparent;
	border: 1px solid var(--blue);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
button.bg-green:hover,
button.bg-green:focus {
	color: #FFF;
	background-color: var(--blue);
	/*border: 1px solid #FFF;*/

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.green-underline {
	text-decoration: underline;
	text-decoration-color: var(--green);
}
button.border-blue {
	border: 1px solid var(--blue);
}
button.border-blue:hover,
button.border-blue:focus {
	border: none;
}
/* end html body generic classes */



/* form */
section.publications .form-button-right {
	position: relative;
	margin-bottom: 30px;
}
section.publications .form-button-right button {
	position: absolute;
	top: 0;
	right: 0;
}
.form-button-right button {
	z-index: 666;
	height: 50px;
	border-radius: 50px;
	padding: 0 30px;
	background-color: var(--blue);
	font-size: 14px;
	line-height: 50px;
	font-weight: bold;
	letter-spacing: 0.35px;
	border: none;
	box-shadow: none;
}
.form-button-right button:hover,
.form-button-right button:focus {
	border: none;
	color: var(--blue);
	background-color: var(--skyblue);
	border: none;
	box-shadow: none;
}
.form-control {
	opacity: .5;
	font-size: 14px;
	height: 50px;
	padding: 10px;
	background-color: #eeeef1;
	border-radius: 0;
	border: 0;
	border-color: #eeeef1;
	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	background-color: #eeeef1;
}
.form-check label {
	opacity: .5;
}
.form-check a {
	color: #404040;
	text-decoration: underline;
}
.form-check a:hover,
.form-check a:focus {
	color: #000000;
	text-decoration: none;
}
input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 0px;
  height: 0px;
}
input[type=checkbox]:before {
	content: "";
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: #FFF;
	border: 1px solid #CCC;
	transition: all 0.2s linear;
}
input[type=checkbox]:checked:before {
	border: 1px solid var(--green);
	background-color: var(--green);
}
/* end form */



/* boostrap */
/* nav */
nav {
	background-color: #fff;
	box-shadow: 0 5px 10px 0 rgba(43, 44, 84, 0.1);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
body.home nav {
	box-shadow: none;
}
body.home nav.affix {
	background-color: var(--darkblue);
	box-shadow: 0 5px 10px 0 rgba(43, 44, 84, 0.1);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
body.home nav {
	background-color: transparent;
}
body.home nav #convertia-svg #circ-out path:first-child,
body.home nav #convertia-svg #center circle,
body.home nav #convertia-svg .letter path,
body.home nav #convertia-svg .letter polygon {
	fill: #fff;
}

nav a.nav-link {
	font-size: 13px;
	line-height: 13px;
	font-weight: bold;

	padding-left: 20px!important;
	padding-right: 20px!important;
}
body.home nav a {
	color: #FFFFFF;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
nav a {
	color: var(--blue);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
nav a:hover,
nav a:focus {
	color: var(--green);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
body.technology nav a.technology {
	color: var(--green)
}
/* end nav */
/* end boostrap */



/* containers */
.full-page {
	/*min-height: auto;*/
	min-height: 100vh;
}
.center-vert {
	display: flex;
	align-items: center;
	justify-content: center;
}
.colkbz {
	/*border: 1px solid orange;*/
	padding: 0;
}
.no-padding {
	padding: 0 !important;
}
.custom-padd {
	padding: 100px;
	padding-top: 120px;
}
.custom-padd-h {
	padding: 0 100px;
}
footer.custom-padd {
	padding: 85px 100px;
}
nav.custom-padd {
	padding: 10px 100px;
}
@media(max-width: 1200px) {
	.custom-padd {
		padding: 90px;
		padding-top: calc(90px + 60px);
	}
	nav.custom-padd {
		padding: 10px 90px;
	}
	footer.custom-padd {
		padding: 90px;
	}
	.custom-padd-h {
		padding: 0 90px;
	}
}
@media(max-width: 992px) {
	.custom-padd {
		padding: 60px;
		padding-top: calc(60px + 60px);
	}
	nav.custom-padd {
		padding: 10px 60px;
	}
	footer.custom-padd {
		padding: 60px;
	}
	.custom-padd-h {
		padding: 0 60px;
	}
}
@media(max-width: 768px) {
	.custom-padd {
		padding: 45px;
		padding-top: calc(45px + 60px);
	}
	nav.custom-padd {
		padding: 10px 45px;
	}
	footer.custom-padd {
		padding: 45px;
	}
	.custom-padd-h {
		padding: 0 45px;
	}
}
@media(max-width: 500px) {
	.custom-padd {
		padding: 30px;
		padding-top: calc(30px + 60px);
	}
	nav.custom-padd {
		padding: 10px 30px;
	}
	footer.custom-padd {
		padding: 30px;
	}
	.custom-padd-h {
		padding: 0 30px;
	}
}
/* end containers */



/* sections */

/* intro */
section.intro {
	background-color: var(--blue);
	min-height: 100vh;
}
.intro-info {
	color: #FFF;
	text-align: left;
}
/* kbz 'laptop' (warning! >1200 to 5k display more than '.col-xl-') */
body.home .intro-info h2 {
	font-size: 60px;
	line-height: 70px;
    font-weight: bold;
    letter-spacing: 2px;
}
/* kbz 1st break responsive */
@media(max-width: 1200px) {
	body.home  .intro-info h2 {
		font-size: 50px;
		font-size: calc( 58px * 86 / 100);
	}
}
/* kbz 2nd break */
@media(max-width: 992px) {
	body.home .intro-info h2 {
		font-size: 42px;
		font-size: calc( 58px * 72 / 100);
	}
}
/* kbz 3th break: 'ipad' vertical */
@media(max-width: 768px) {
	body.home .intro-info h2 {
		font-size: 42px;
		font-size: calc( 58px * 72 / 100);
	}
}
/* kbz 4th break: 'mobile' (min-width chrome browser) */
@media(max-width: 500px) {
	body.home .intro-info h2 {
		font-size: 32px;
	}
}
.intro-info button {
	margin-top: 15px;
	margin-bottom: 45px;
	margin-right: 15px;
}
@media(max-width: 768px) {
	.intro-info {
		padding-bottom: 15px;
	}
	.intro-info button {
		padding: 14px 22px;
		border-radius: 22px;
		background-color: #FFF;
		margin-top: 0px;
		margin-bottom: 30px;
	}
}
.intro-info p {
	color: #fff;
}
.intro-photo {
	background: url("/images/demo/demo-intro.jpg") no-repeat center center / cover;
	min-height: 100vh;
}
@media(max-width: 767px) {
	section.intro {
		background-color: var(--green);
		min-height: 100vh;
	}
	.intro-info,
	.intro-info h3 {
		color: var(--blue);
	}
	.intro-info p {
		font-size: 15px;
	}
	.intro-photo {
		min-height: 45vh;
	}
}
/* end intro */



/* welcome */
section.welcome {
	background-color: #FFF;
	/*height: 50vh;*/
}
section.welcome p {
	color: #404040;
	font-size: 22px;
	line-height: 32px;
}
/* end welcome */



/* smart-methodology */
section.smart-methodology {
	background-color: var(--green);
}
section.smart-methodology header {
	position: absolute;

}
.icons-wrapper {
	max-width: 1400px;
	margin: 0 auto;
}
.card-item {
	background-color: #FFF;
	text-align: left;
	padding: 30px;
	padding-bottom: calc(100% - 30px);
	box-shadow: 10px 10px 40px 0 rgba(43, 44, 84, 0.15);
}
.card-item h3 {
	position: absolute;
	font-size: 18px;
	line-height: 24px;
	left: 45px;
	bottom: 30px;
	color: var(--blue);
	margin: 0;
}
.card-icon {
	width: 100%;
	height: auto;
	float: right;
	max-width: 150px;
	box-shadow: 10px 10px 40px 0 rgba(32, 33, 63, 0.15);
	border-radius: 50%;
}
@media(max-width: 500px) {
	.card-item {
		height: 170px;
	}
	.card-item h3 {
		position: absolute;
		font-size: 14px;
		left: 30px;
		bottom: 30px;
	}
	.smart-card-right .card-item h3 {
		left: 20px;
		right: 20px;
	}
	.card-item {
		padding: 15px;
		padding-bottom: calc(100% - 15px);
	}
	.card-icon {
		max-width: 90px;
	}
	.smart-card-left {
		padding-left: 15px!important;
		padding-right: 5px!important;
		padding-bottom: 10px!important;
	}
	.smart-card-right {
		padding-left: 5px!important;
		padding-right: 15px!important;
		padding-bottom: 10px!important;
	}
}
/* end smart-methodology */



/* technology */
section.technology {
	background-color: var(--blue);
}
/* end technology */



/* success-stories */
section.success-stories {
	background-color: #FFF;
}
section.success-stories .ss-left {
	background-color: var(--green);
	min-height: 100vh;
}
.box-wrapper {
	font-family: 'Roboto', 'Hevetica', 'Arial', sans-serif;
	background-color: #FFFFFF;
	padding: 45px;
	position: relative;
	margin-top: 60px;
	margin-bottom: 30px;
	box-shadow: 10px 10px 40px 0 rgba(43, 44, 84, 0.15);
}
.box-wrapper h3 {
	width: 50%;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 30px;
}
.box-wrapper img.box-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: auto;
}
@media(max-width: 768px) {
	section.success-stories {
		background-color: var(--skyblue);
	}
	section.success-stories .ss-left {
		padding: 0!important;
		background-color: var(--green);
		min-height: auto;
	}
	.box-wrapper {
		padding: 30px;
		padding-top: 60px;
		margin-top: 45px;
		margin-bottom: 0px;
	}
	.box-wrapper img {
		left: 0;
	}
	section.success-stories .ss-right button {
		margin: 0 auto;
	}
}
.card {
	margin-bottom: 30px;
	border: none;
	/*box-shadow: 10px 10px 40px 0 rgba(43, 44, 84, 0.15);*/
}
.card-img {
	padding-left: 15px;
	padding-right: 0;
}
.cards-wrapper .card:last-child {
	margin-bottom: 0px;
}
@media (max-width: 767px) {
	.cards-wrapper .card:last-child {
		margin-bottom: 30px;
	}
	.card-img {
		padding-left: 0;
		padding-right: 15px;
	}
}
.card-img img {
	width: 100%;
	height: auto;
}
.card-body {
	padding: 0;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 0px;
}
@media (max-width: 767px) {
	.card-body {
		padding: 30px;
	}
}
.card .card-title {
	color: var(--green);
  	color: #30db98;
  	font-size: 12px;
  	font-weight: bold;
  	letter-spacing: 0.3px;
  	text-transform: uppercase;
}
.card .card-text {
	opacity: 1;
	line-height: 24px;
}
/* end success-stories */



/* clients */
section.clients {
	background-color: #FFF;
}
@media(max-width: 768px) {
	section.clients {
		background-color: var(--green);
	}
}
section.clients .clients-right {
	background-color: var(--blue);
	min-height: 100vh;
}
section.clients .box-wrapper img.box-icon {
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
}
section.clients .box-wrapper .logo {
	padding-bottom: 30px;
}
section.clients .box-wrapper .logo img {
	width: 100%;
	height: auto;
}
/* end clients */



/* publications */
section.publications {

}
section.publications .publications-left {
	background-color: var(--skyblue);
	min-height: 100vh;
}
/* end publications */



/* contact */
section.contact {
	background-color: var(--green);
}
section.contact .box-wrapper {
	margin-top: 0;
	margin-bottom: 0;
}
form.form-contact .colkbz {
	padding: 10px;
}
form.form-contact .form-group {
	margin: 0;
}
form.form-contact .form-group {
	margin: 0;
}
form.form-contact .form-control {
	background-color: #fff;
	border: 0;
	border-bottom: 2px solid var(--green);
	padding-left: 0;
}
form.form-contact .form-control:focus {
	border-bottom: 2px solid var(--blue);
}
form.form-contact .form-button-right button:hover,
form.form-contact .form-button-right button:focus {
	background-color: var(--green);
}
/* end contact */



/* footer */
div.footers {
	position: relative;
}
footer {
	color: #404040;
	font-size: 14px;
	line-height: 24px;
	min-height: 50vh!important;
	background-color: #FFF;
	min-height: auto!important;
}
footer address,
footer h6 {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
}
footer h6 {
	font-weight: bold;
}
.office a {
	color: #404040;
	text-decoration: none;
}
.office a:hover,
.office a:focus {
	color: var(--green);
	text-decoration: underline;
}
.net-socials {
	text-align: right;
	padding-left: 0;
}
@media(max-width: 1999px) {
	footer {
		min-height: 50vh!important;
	}
	.net-socials {
		margin-top: 30px;
		text-align: center;
	}
}
.net-socials ul {
	list-style: none;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
	margin-bottom: 30px;
}
.net-socials ul li {
	display: inline-block;
	padding-left: 6px;
}
.net-socials ul li:first-child {
	padding-left: 0px;
}
.net-socials ul li a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
	border: 1px solid var(--green);
	background-color: #FFF;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.net-socials ul li a:hover,
.net-socials ul li a:focus {
	background-color: var(--green);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.net-socials ul li a i {
	color: var(--green);
	font-size: 18px;
	line-height: 40px;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.net-socials ul li a:hover i,
.net-socials ul li a:focus i {
	color: #FFF;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
footer button {
	font-size: 14px;
	line-height: 14px;
}
@media(max-width: 768px) {
	.office {
		margin-bottom: 15px;
		text-align: center;
	}
	.net-socials {
		margin-top: 0px;
	}
	.net-socials ul {
		margin-bottom: 15px;
	}
	footer {
		min-height: calc(100vh - 60px)!important;
	}
}
.footer-down {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 12px;
	padding-top: 0;
	padding-bottom: 0;
	height: 100px;
	background-color: var(--blue);
}
@media(max-width: 768px) {
	.footer-down span {
		display: block;
	}
}
.footer-down div.copyright,
.footer-down div.policy {
	color: #FFF!important;
	opacity: .5;
	display: inline-block;
}
.footer-down div.policy {
	float: right;
}
@media(max-width: 992px) {
	.footer-down div.copyright,
	.footer-down div.policy {
		display: block;
		text-align: center;
		float: none;
	}
}
.footer-down a {;
	color: #FFF!important;
	opacity: .5;
	text-decoration: underline;
}
/* end footer */




/* tecnologia */
body.technology .intro-technology {
	background-color: var(--blue);
}
body.technology .intro-technology .intro-img {

}
body.technology .intro-technology .intro-img img {
	margin-bottom: -220px;
}
body.technology .intro-up {
	background-color: #fff;
}
body.technology h3 {
	font-family: 'Roboto', 'Hevetica', 'Arial', sans-serif;
	opacity: 0.7;
	font-size: 18px;
	line-height: 28px;
	font-weight: normal;
	color: #404040;
}








/* end sections