	/*
	- fonts
	- html body generic classes
	- form
	- boostrap / nav
	- containers
	- sections
	- intro
	- welcome
	- smart-methodology
	- about
	- footer
	*/

	/* fonts */
	@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
	/* end fonts */

	/* html body generic classes */
	.skinConvertia a {
		color: #404040;
		text-decoration: none;
	}

	.skinConvertia a:hover,
	.skinConvertia a:focus {
		color: #404040;
		outline: none;
		text-decoration: underline;
	}

	body.skinConvertia {
		font-family: 'Roboto', 'Hevetica', 'Arial', sans-serif;
		font-size: 16px;
		font-weight: normal;
		color: #404040;
		background-color: #FFF;
		padding: 0 !important;
	}

	.skinConvertia p {
		font-size: 16px;
		line-height: 26px;
		font-weight: normal;
		letter-spacing: normal;
		opacity: 0.7;
	}


	@media(max-width: 768px) {
		.skinConvertia p {
			font-size: 14px;
			line-height: 24px;
		}
	}

	.skinConvertia cite {
		font-size: 14px;
		line-height: 26px;
		font-style: normal;
		opacity: 0.7;
	}

	.skinConvertia h1,
	.skinConvertia h2,
	.skinConvertia h3,
	.skinConvertia h4,
	.skinConvertia h5,
	.skinConvertia h6,
	.skinConvertia button {
		font-family: 'DM Sans', sans-serif;
	}

	.skinConvertia h1,
	.skinConvertia .h1-mobile {
		color: #fff;
		font-size: 60px;
		line-height: 70px;
		font-weight: bold;
		margin-bottom: 24px;
	}

	@media(max-width: 500px) {

		.skinConvertia h1,
		.skinConvertia .h1-mobile {
			color: #2b2c54;
			font-size: 24px;
			line-height: 32px;
			margin-top: 45px;
		}
	}

	.skinConvertia h2 {
		color: #2B2C54;
	}

	/* kbz 1st break responsive */
	@media(max-width: 1200px) {}

	/* kbz 2nd break */
	@media(max-width: 992px) {
		.skinConvertia h2 {
			font-size: 36px;
			line-height: 42px;
			margin-bottom: 15px;
		}
	}

	/* kbz 3th break: 'ipad' vertical */
	@media(max-width: 768px) {
		.skinConvertia h2 {
			font-size: 32px;
			line-height: 36px;
			margin-bottom: 15px;
		}
	}

	/* kbz 4th break: 'mobile' (min-width chrome browser & mobile) */
	@media(max-width: 500px) {
		.skinConvertia h2 {
			font-size: 32px;
			line-height: 36px;
			margin-bottom: 15px;
		}
	}

	.skinConvertia h3 {
		color: #2B2C54;
		font-size: 28px;
		line-height: 38px;
		font-weight: 500;
		opacity: 0.7;
		margin-bottom: 30px;
	}

	.skinConvertia h4 {
		color: #2b2c54;
		font-size: 40px;
		line-height: 50px;
		font-weight: bold;
		margin-bottom: 30px;
	}

	@media(max-width: 768px) {

		.skinConvertia h4 {
			font-size: 24px;
			line-height: 32px;
			font-weight: bold;
			margin-bottom: 30px;
		}

	}

	.skinConvertia .white {
		color: #fff;
	}

	.skinConvertia .btn.btn-conv {
		font-family: 'DM Sans', sans-serif;
		color: #2B2C54;
		font-size: 14px;
		line-height: 14px;
		padding: 14px 30px;
		border-radius: 200px;
		background-color: transparent;
		letter-spacing: 0.35px;
		border: solid 1px #2b2c54;
		font-weight: bold;
		font-style: normal;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		text-decoration: none;
		outline: none;
		opacity: 0.7;
	}
	.skinConvertia .btn.btn-conv:hover,
	.skinConvertia .btn.btn-conv:focus {
		color: #fff;
		background-color: #2B2C54;
		opacity: 1;
	}
	.skinConvertia .btn.btn-conv.btn-bg-blue {
		color: #fff;
		border: solid 1px #fff;
	}
	.skinConvertia .btn.btn-conv.btn-bg-blue:hover,
	.skinConvertia .btn.btn-conv.btn-bg-blue:focus {
		color: #2B2C54;
		border: solid 1px #59E2AD;
		background-color: #59E2AD;
		opacity: 1;
	}
	.skinConvertia .btn.btn-conv.btn-bg-green,
	.skinConvertia .btn.btn-conv.btn-intro.btn-bg-green {
		color: #2B2C54;
		border: solid 1px #59E2AD;
		background-color: #59E2AD;
	}
	.skinConvertia .btn.btn-conv.btn-bg-green:hover,
	.skinConvertia .btn.btn-conv.btn-bg-green:focus,
	.skinConvertia .btn.btn-conv.btn-intro.btn-bg-green:hover,
	.skinConvertia .btn.btn-conv.btn-intro.btn-bg-green:focus {
		color: #fff;
		border: solid 1px #2B2C54;
		background-color: #2B2C54;
		opacity: 1;
	}
	@media(max-width: 768px) {
		.skinConvertia .btn.btn-conv {
			font-size: 12px;
			letter-spacing: 0.3px;
		}
	}
	.skinConvertia .btn.btn-conv.btn-intro {
		color: #2B2C54;
		font-size: 16px;
		line-height: 22px;
		padding: 13px 30px;
		background-color: #fff;
		letter-spacing: 0.4px;
		border: solid 1px #2b2c54;
		margin-bottom: 60px;
		opacity: 0.7;
	}
	.skinConvertia .btn.btn-conv.btn-intro.btn-first {
		opacity: 1;
	}
	.skinConvertia .btn.btn-conv.btn-intro:hover,
	.skinConvertia .btn.btn-conv.btn-intro:focus {
		color: #2B2C54;
		background-color: #59E2AD;
		border: solid 1px #59E2AD;
	}
	@media(max-width: 768px) {
		.skinConvertia .btn.btn-conv.btn-intro {
			font-size: 14px;
			letter-spacing: 0.35px;
		}
	}
	.skinConvertia .btn-mt-section {
		margin-top: 40px;
	}
	.skinConvertia .btn-mb-section {
		margin-bottom: 70px;
	}









	.skinConvertia button {
		font-size: 14px;
		line-height: 14px;
		color: #2B2C54;
		padding: 14px 32px;
		border-radius: 32px;
		background-color: #FFF;
		letter-spacing: 0.4px;
		border: none;
		font-weight: bold;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia button:hover {
		background-color: #59E2AD;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	@media(max-width: 768px) {
		.skinConvertia button {
			font-size: 12px;
			line-height: 14px;
		}
	}

	.skinConvertia button.bg-blue {
		color: #FFF;
		background-color: transparent;
		border: 1px solid #FFF;
		opacity: .7;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia button.bg-blue:hover,
	.skinConvertia button.bg-blue:focus {
		color: #2B2C54;
		background-color: #59E2AD;
		border: 1px solid #59E2AD;
		opacity: 1;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia button.bg-green {
		color: #2B2C54;
		background-color: transparent;
		border: 1px solid #2B2C54;
		opacity: .7;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.skinConvertia button.bg-green:hover,
	.skinConvertia button.bg-green:focus {
		color: #FFF;
		background-color: #2B2C54;
		/*border: 1px solid #FFF;*/
		opacity: 1;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia button.btn-green {
		color: #2B2C54;
		background-color: #30db98;
		border: 1px solid #30db98;
		opacity: 1;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.skinConvertia button.btn-green:hover,
	.skinConvertia button.btn-green:focus {
		color: #FFF;
		background-color: #2B2C54;
		border: 1px solid #2B2C54;
		opacity: 1;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia .green-underline {
		text-decoration: underline;
		text-decoration-color: #59E2AD;
	}

	.skinConvertia button.border-blue {
		border: 1px solid #2B2C54;
	}

	.skinConvertia button.border-blue:hover,
	.skinConvertia button.border-blue:focus {
		border: none;
	}

	.skinConvertia .breadcrumbs {
		font-family: 'DM Sans', sans-serif;
		color: #2b2c54;
		font-size: 13px;
		opacity: 0.5;
		letter-spacing: 0.3px;
		font-weight: bold;
		margin-top: 40px;
		margin-bottom: 30px;
	}

	/* end html body generic classes */



	/* form */
	.skinConvertia section.publications .form-button-right {
		position: relative;
		margin-bottom: 30px;
	}

	.skinConvertia section.publications .form-button-right button {
		position: absolute;
		top: 0;
		right: 0;
	}

	.skinConvertia .form-button-right button {
		color: #fff;
		z-index: 666;
		height: 50px;
		border-radius: 50px;
		padding: 0 30px;
		background-color: #2B2C54;
		font-size: 14px;
		line-height: 50px;
		font-weight: bold;
		letter-spacing: 0.35px;
		border: none;
		box-shadow: none;
	}

	.skinConvertia .form-button-right button:hover,
	.skinConvertia .form-button-right button:focus {
		border: none;
		color: #2B2C54;
		background-color: #36e1db;
		box-shadow: none;
	}

	.skinConvertia .form-control {
		border: 0;
		opacity: .5;
		height: 50px;
		font-size: 13px;
		border-color: #eeeef1;
		background-color: #eeeef1;
		border-radius: 0;
		box-shadow: none;
	}

	.skinConvertia .form-control:focus {
		box-shadow: none;
		background-color: #eeeef1;
	}
	.skinConvertia .form-check {
		padding: 0;
	}
	.skinConvertia .form-check label,
	.skinConvertia .form-check label small {
		font-size: 11px;
		line-height: 15px;
	}

	.skinConvertia .form-check label {
		opacity: .5;
		margin-left: 25px;
	}

	.skinConvertia .form-check a {
		color: #404040;
		text-decoration: underline;
	}

	.skinConvertia .form-check a {
		color: #404040;
		text-decoration: underline;
	}

	.skinConvertia .form-check a:hover,
	.skinConvertia .form-check a:focus {
		color: #000000;
		text-decoration: none;
	}

	.skinConvertia .form-suscription .form-control {
		opacity: 1;
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
	}
	.skinConvertia .form-suscription .form-control::-webkit-input-placeholder {
		color: #495057;
		opacity: .5;
	}

	.skinConvertia .form-suscription-wrapper h3 {
		font-size: 18px;
		line-height: 24px;
		font-weight: normal;
		font-style: normal;
		letter-spacing: normal;
		color: #404040;
	}





	/* The container */
	.custom-check {
		display: block!important;
		position: relative!important;
		cursor: pointer!important;
	}

	/* Hide the browser's default checkbox */
	.custom-check input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		margin: 0;
		padding: 0;
		z-index: 10;
		margin-top: 5px;
		height: 16px;
		width: 16px;
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: 1px;
		left: 0;
		height: 12px;
		width: 12px;
		border-radius: 1px;
		border: solid 1px #d5d5dd;
		background-color: #fff;
		margin-top: 6px;
	}

	/* On mouse-over, add a grey background color */
	.custom-check:hover input ~ .checkmark {
		background-color: #30db98;
		border: solid 1px #30db98;
	}

	/* When the checkbox is checked, add a blue background */
	.custom-check input:checked ~ .checkmark {
		background-color: #30db98;
		border: solid 1px #30db98;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	.custom-check input:checked ~ .checkmark:after {
		display: block;
	}

	/* Style the checkmark/indicator */
	.custom-check .checkmark:after {
		left: 4px;
		top: -3px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

























	/* boostrap */
	/* nav */
	body.picostrap_header_navbar_position_fixed-top {
		padding-top: 0 !important;
	}

	.skinConvertia .inner-nav {
		display: flex;
	}

	.skinConvertia .navbar-brand {
		padding: 0;
		margin: 0;
	}

	.skinConvertia .navbar-nav li:last-child a {
		margin-right: 0 !important;
	}

	.skinConvertia nav {
		padding: 0 !important;
		background-color: #fff;
		box-shadow: 0 5px 10px 0 rgba(43, 44, 84, 0.1);
		min-height: 70px;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia nav .nav-link {
		font-family: 'DM Sans', sans-serif;
		font-size: 13px;
		line-height: 13px;
		font-weight: bold;
		color: #555676;

		padding-left: 0px !important;
		padding-right: 0px !important;
		margin: 0 29px;
		border-bottom: 2px solid transparent;
	}

	body.home nav .nav-item-letstalk .nav-link,
	.skinConvertia nav .nav-item-letstalk .nav-link {
		color: #2B2C54;
		background-color: #59E2AD;
		border-radius: 30px;
		padding-left: 15px!important;
		padding-right: 15px!important;
		border: none;
	}

	body.home nav .nav-item-letstalk .nav-link {
		color: #2B2C54!important;
	}

	.skinConvertia nav .nav-item-letstalk .nav-link:hover,
	.skinConvertia nav .nav-item-letstalk .nav-link:focus {
		color: #59E2AD!important;
		background-color: #2B2C54;
		border-radius: 30px;
		padding-left: 15px!important;
		padding-right: 15px!important;
		border: none!important;
	}

	.skinConvertia nav a {
		color: #2B2C54;
		text-decoration: none;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia nav a:hover,
	.skinConvertia nav a:focus {
		color: #59E2AD;
		text-decoration: none;
		/*border-bottom: 2px solid #59E2AD;*/

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	/* nav a active */
	body.page-id-47 li.page-item-47 a,
	body.page-id-1431 li.page-item-1431 a,
	body.page-id-754 li.page-item-754 a,
	body.page-id-1876 li.page-item-1876 a,
	body.page-id-1090 li.page-item-1090 a,
	body.page-id-2819 li.page-item-2819 a {
		color: #555676;
		text-decoration: none;
		border-bottom: 2px solid #59E2AD;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	/*
	nav li.menu-item-96 a,
	nav li.menu-item-821 a,
	nav li.menu-item-1095 a,
	nav li.menu-item-1096 a {
		color: #59E2AD;
		text-decoration: none;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	*/

	@media (min-width: 992px) {
		.skinConvertia .navbar-expand-lg .navbar-collapse {
			display: flex;
			justify-content: flex-end;
		}
	}

	.skinConvertia .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(32,33,63,1)' stroke-width='3' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}

	/* body home nav */
	body.home nav:not(.affix) {
		background-color: transparent;
		box-shadow: none;
	}

	body.home nav:not(.affix) .nav-link {
		color: #ffffff;
	}

	body.home nav:not(.affix) .nav-link:hover,
	body.home nav:not(.affix) .nav-link:focus {
		color: #59E2AD;
	}

	body.home nav:not(.affix) #convertia-svg #circ-out path:first-child,
	body.home nav:not(.affix) #convertia-svg #center circle,
	body.home nav:not(.affix) #convertia-svg .letter path,
	body.home nav:not(.affix) #convertia-svg .letter polygon {
		fill: #fff;
	}

	/* end nav */
	/* end boostrap */



	/* containers */
	.skinConvertia .container-fluid {
		max-width: 1600px;
	}
	.skinConvertia .full-page {
		min-height: calc(100vh - 70px);
		/*min-height: 100vh;*/
	}
	body.home.skinConvertia .full-page {
		/*padding-top: 70px;*/
	}
	body.home.skinConvertia section.home-intro .full-page {
		min-height: 100vh;
		padding-top: 0;
	}
	.skinConvertia .mid-full-page {
		min-height: 50vh;
	}

	@media(max-width: 768px) {

		.skinConvertia .full-page,
		.skinConvertia .mid-full-page {
			height: auto;
			min-height: auto;
		}

		.skinConvertia section {
			padding-top: 60px;
			padding-bottom: 70px;
		}
	}

	.skinConvertia .no-padding {
		padding: 0 !important;
	}

	.skinConvertia .custom-padd-tb {
		padding: 60px 0;
	}

	.skinConvertia .offset-top {
		padding-top: 70px;
	}

	@media(max-width: 768px) {
		.skinConvertia .custom-padd-tb {
			padding: 60px 0;
		}
	}

	.skinConvertia  {
		padding-top: 70px;
	}

	.skinConvertia .center-vert {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* end containers */



	/* sections */
	/* intro */
	.skinConvertia section.home-intro {
		min-height: 100vh;
		position: relative;
		background: url("/wp-content/uploads/2021/10/conv-site-home-banner@2x.jpg");
		background-repeat: no-repeat;
		background-position: 320px center;
		background-size: cover;
		background-color: #2B2C54;
	}

	.skinConvertia section.home-intro .over-bck {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: linear-gradient(90deg, #2B2C54 0%, #2B2C54 50%, transparent 50%, transparent 100%);
	}

	.skinConvertia section.home-intro .intro-info {
		background-color: #2B2C54;
		min-height: 100vh;
	}

	.skinConvertia section.home-intro h2 {
		color: #fff;
		font-size: 28px;
		line-height: 38px;
		font-weight: 500;
		opacity: 0.7;
		margin-bottom: 46px;
	}

	.skinConvertia section.home-intro p {
		color: #fff;
		opacity: .5;
	}

	@media(max-width: 768px) {

		.skinConvertia section.home-intro {
			background-color: #59E2AD;
			min-height: 100vh;
			padding: 0;
		}

		.skinConvertia section.home-intro .over-bck {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: linear-gradient(0deg, #59E2AD 0%, #59E2AD 70%, transparent 70%, transparent 100%);
		}

		.skinConvertia section.home-intro .intro-info {
			background-color: transparent;
			min-height: auto;
		}

		.skinConvertia section.home-intro h1 {
			color: #2B2C54;
		}

		.skinConvertia section.home-intro p {
			color: #2B2C54;
			font-size: 14px;
			line-height: 24px;
		}

		.skinConvertia section.home-intro .btn.btn-intro {
			border-color: #59E2AD;
			margin-top: 30px;
			margin-bottom: 0px;
		}

		.skinConvertia section.home-intro .intro-photo {
			background: url("/wp-content/uploads/2021/10/conv-site-home-banner@2x.jpg") no-repeat center center / cover;
			min-height: 35vh;
		}
	}

	/* end intro */



	/* welcome */
	.skinConvertia section.welcome {
		background-color: #FFF;
		/*height: 50vh;*/
	}

	.skinConvertia section.welcome h3 {
		color: #2b2c54;
		font-size: 40px;
		line-height: 50px;
		font-weight: bold;
		opacity: 1;
	}

	.skinConvertia section.welcome p {
		font-size: 22px;
		line-height: 32px;
		opacity: 1;
	}

	@media(max-width: 768px) {

		.skinConvertia section.welcome h3 {
			font-size: 24px;
			line-height: 32px;
		}

		.skinConvertia section.welcome p {
			font-size: 14px;
			line-height: 24px;
		}
	}

	/* end welcome */



	/* smart-methodology */
	.skinConvertia section.smart-methodology {
		background-color: #59E2AD;
	}

	.skinConvertia .card-item {
		display: block;
		position: relative;
		text-align: left;
		padding: 30px;
		background-color: #FFF;
		padding-bottom: calc(100% - 30px);
		box-shadow: 10px 10px 40px 0 rgba(43, 44, 84, 0.15);
		transform: translateY(0);

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia .card-item:hover,
	.skinConvertia .card-item:focus {
		transform: translateY(-30px);

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia .card-item h3 {
		position: absolute;
		font-size: 18px;
		line-height: 24px;
		left: 30px;
		bottom: 30px;
		margin: 0;
		opacity: 1;
		text-decoration: none;
	}

	.skinConvertia .card-item:hover h3,
	.skinConvertia .card-item:focus h3 {
		text-decoration: underline;
	}

	.skinConvertia .card-icon {
		width: 100%;
		height: auto;
		float: right;
		max-width: 136px;
		box-shadow: 10px 10px 40px 0 rgba(32, 33, 63, 0.15);
		border-radius: 50%;
	}

	@media(max-width: 500px) {
		.skinConvertia .card-item {
			height: 170px;
		}

		.skinConvertia .card-item h3 {
			position: absolute;
			font-size: 14px;
			line-height: 18px;
			left: 15px;
			bottom: 10%;
			opacity: 1;
		}

		.skinConvertia section.technology button,
		.skinConvertia section.smart-methodology button {
			margin-top: 30px;
			margin-bottom: 0;
		}

		.skinConvertia .smart-card-right .card-item h3 {
			left: 20px;
			right: 20px;
		}

		.skinConvertia .card-item {
			padding: 15px;
			padding-bottom: calc(100% - 15px);
		}

		.skinConvertia .card-icon {
			max-width: 90px;
		}

		.skinConvertia .smart-card-left .card-item {
			margin-right: 5px;
			margin-bottom: 10px;
		}
		.skinConvertia .smart-card-right .card-item {
			margin-left: 5px;
			margin-bottom: 10px;
		}
	}

	@media(max-width: 768px) {
		.skinConvertia.page-id-47 .smart-card-left,
		.skinConvertia.page-id-47 .smart-card-right,
		.skinConvertia.page-id-754 .smart-card-left,
		.skinConvertia.page-id-754 .smart-card-right {
			display: none;
		}
	}

	/* end smart-methodology */



	/* technology */
	.skinConvertia section.technology {
		background-color: #2B2C54;
	}

	.skinConvertia section.technology .card-icon {
		border-radius: 0;
		max-width: 136px;
	}

	@media(max-width: 500px) {
		.skinConvertia section.technology .card-icon {
			border-radius: 0;
			max-width: 90px;
		}
	}

	/* end technology */



	/* success-stories */
	.skinConvertia section.success-stories {
		/*background-color: #59E2AD;*/
		background: linear-gradient(90deg, rgba(89, 226, 173, 1) 0%, rgba(89, 226, 173, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
	}

	@media(max-width: 768px) {

		.skinConvertia section.success-stories {
			background: #36e1db;
			padding-bottom: 0;
		}

		.skinConvertia section.success-stories .sect-left {
			background-color: #59e2ad;
		}

		.skinConvertia section.success-stories .sect-right {
			background-color: #36e1db;
		}

		.skinConvertia section.success-stories .sect-right button {
			margin: 45px auto 60px auto;
		}
	}

	.skinConvertia .box-wrapper {
		background-color: #FFF;
		padding: 45px;
		position: relative;
		margin-top: 60px;
		margin-bottom: 30px;
		box-shadow: 10px 10px 40px 0 rgba(43, 44, 84, 0.15);
	}

	.skinConvertia .box-wrapper img.box-icon {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: auto;
	}

	@media(max-width: 768px) {

		.skinConvertia .box-wrapper {
			padding: 30px;
			margin-top: 45px;
			margin-bottom: 0px;
		}

		.skinConvertia section.success-stories .box-wrapper {
			padding-top: 110px;
			padding-bottom: 70px;
			margin: 0;
			box-shadow: none;
		}

		.skinConvertia section.success-stories .box-wrapper img {
			top: 50px;
			left: 30px;
		}

		.skinConvertia section.success-stories cite {
			opacity: 1;
		}

	}

	.skinConvertia .card {
		margin-bottom: 30px;
		border: none;
		border-radius: 0;
		/*box-shadow: 10px 10px 40px 0 rgba(43, 44, 84, 0.15);*/
	}

	.skinConvertia .card,
	.skinConvertia .card:hover,
	.skinConvertia .card:focus {
		color: #404040;
		text-decoration: none;
	}

	.skinConvertia .card-img {
		padding: 0;
		border-radius: 0;
		overflow: hidden;
	}

	.skinConvertia a.card .card-img img {
		transform: scale(1);

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia a.card:hover .card-img img,
	.skinConvertia a.card:focus .card-img img {
		transform: scale(1.25);

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia a.card:hover p,
	.skinConvertia a.card:focus p {
		text-decoration: underline;
	}

	.skinConvertia .cards-wrapper .card:last-child {
		margin-bottom: 0px;
	}

	@media (max-width: 768px) {
		.skinConvertia section.success-stories .sect-right .card {
			box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
		}

		.skinConvertia .cards-wrapper .card:last-child {
			margin-bottom: 0;
		}
	}

	.skinConvertia .card-img img {
		width: 100%;
		height: auto;
		box-shadow: 5px 5px 20px 0 rgba(43, 44, 84, 0.15);
	}

	.skinConvertia .card-body {
		padding: 0;
		padding-left: 30px;
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	.skinConvertia .card-body .a-arrow {
		margin-top: auto;
		margin-bottom: 5px;
		color: #2b2c54;
		align-self: flex-start;
	}
	.skinConvertia .card-body div.card-author {
		margin-top: auto;
		margin-bottom: 5px;
		color: #404040;
		font-size: 12px;
		opacity: .5;
		align-self: flex-start;
	}
	@media (max-width: 768px) {
		.skinConvertia .card-body div.card-author {
			margin-top: 15px;
		}
	}

	.skinConvertia .card-body .a-arrow:hover,
	.skinConvertia .card-body .a-arrow:hover {
		text-decoration: none;
	}


	.skinConvertia .card .card-title {
		color: #30db98;
		font-size: 14px;
		line-height: 24px;
		font-weight: bold;
		letter-spacing: 0.3px;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	.skinConvertia .card p {
		opacity: 1;
		font-size: 16px;
		line-height: 24px;
		font-weight: normal;
		margin-bottom: 0;
	}

	@media (max-width: 768px) {

		.skinConvertia .card-body .a-arrow {
			margin-top: 5px;
		}

		.skinConvertia .card-body {
			padding: 20px;
		}

		.skinConvertia .card p {
			font-size: 14px;
			line-height: 20px;
		}

		.skinConvertia section.success-stories p.p-cite {
			font-size: 16px;
			line-height: 26px;
		}
	}

	/* end success-stories */



	/* clients */
	.skinConvertia section.clients {
		background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(43, 44, 84, 1) 50%, rgba(43, 44, 84, 1) 100%);
	}

	.skinConvertia section.clients .box-wrapper {
		margin: 0;
		padding: 40px;
		padding-bottom: 0;
	}

	@media(max-width: 768px) {

		.skinConvertia section.clients {
			background: #59E2AD;
			padding-bottom: 0;
		}

		.skinConvertia section.clients .sect-right {
			background-color: #2b2c54;
			padding: 60px 0!important;
		}

		.skinConvertia section.clients .box-wrapper {
			margin-bottom: 70px;
		}

		.skinConvertia section.clients .cards-wrapper .card:last-child {
			margin-bottom: 0;
		}

	}

	.skinConvertia section.clients .box-wrapper img.box-icon {
		left: auto;
		right: 0;
		top: auto;
		bottom: 0;
	}

	.skinConvertia section.clients .box-wrapper .logo {
		padding: 0;
		text-align: left;
		padding-bottom: 50px!important;
		padding-left: 15px!important;
	}

	.skinConvertia section.clients .box-wrapper .logo.right {
		padding-left: 30px!important;
	}

	.skinConvertia section.clients .box-wrapper .logo img {
		height: 30px;
		width: auto;
	}

	.skinConvertia section.clients .cards-wrapper .card {
		background-color: transparent;
		margin-bottom: 75px;
	}
	.skinConvertia section.clients .cards-wrapper .card:last-child {
		margin-bottom: 0;
	}

	.skinConvertia section.clients .cards-wrapper h5 {
		color: #fff;
		font-size: 28px;
		line-height: 38px;
		font-weight: bold;
		text-transform: none;
	}

	.skinConvertia section.clients .cards-wrapper p {
		opacity: .7;
		color: #fff;
		line-height: 24px;
	}

	.skinConvertia section.clients .cards-wrapper .card-icon {
		float: left;
		width: 100%;
		height: auto;
		max-width: 95px;
		box-shadow: none;
		border-radius: 0;
	}
	@media(max-width: 768px) {
		.skinConvertia section.clients .cards-wrapper .card-body {
			padding: 0;
		}
		.skinConvertia section.clients .cards-wrapper .card-body  br {
			display: none;
		}
		.skinConvertia section.clients .cards-wrapper .card {
			padding: 20px;
			margin-bottom: 10px;
			background-color: #38396a;
			box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
		}
		.skinConvertia section.clients .cards-wrapper .card-icon {
			max-width: 80px;
			margin-bottom: 15px;
		}
		.skinConvertia section.clients .cards-wrapper h5 {
			font-size: 20px;
			line-height: 38px;
			font-weight: normal;
			text-transform: none;
		}
	}

	/* end clients */



	/* publications */
	.skinConvertia section.publications {
		background: linear-gradient(90deg, rgba(54, 225, 219, 1) 0%, rgba(54, 225, 219, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
	}
	@media(max-width: 768px) {

		.skinConvertia section.publications {
			background: #fff;
			padding-bottom: 0;
		}

		.skinConvertia section.publications .sect-right {
			background-color: #fff;
		}

		.skinConvertia section.publications .box-wrapper {
			background-color: #36e1db;
			box-shadow: none;
			margin: 0;
		}

		.skinConvertia section.publications .card {
			box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
		}

		.skinConvertia section.publications .sect-right button {
			margin: 45px auto 60px auto;
		}

	}
	/* end publications */



	/* contact */
	.skinConvertia section.contact {
		background-color: #59E2AD;
	}

	.skinConvertia section.contact img.contact-map {
		width: 100%;
		height: auto;
	}

	.skinConvertia section.contact .box-wrapper {
		margin-top: 0;
		margin-bottom: 0;
	}

	.skinConvertia form.form-contact .col-form {
		padding: 0 15px!important;
		padding-bottom: 30px!important;
	}

	.skinConvertia form.form-contact .form-group {
		margin: 0;
	}

	.skinConvertia form.form-contact .form-control {
		font-size: 13px;
		background-color: #fff;
		border: 0;
		border-bottom: 1px solid #04d9d2;
		padding: 0;
		height: 32px;
	}

	.skinConvertia form.form-contact .form-control:focus {
		border-bottom: 1px solid #04d9d2;
	}

	.skinConvertia form.form-contact textarea.form-control {
		margin-top: 30px;
	}

	.skinConvertia form.form-contact .form-button-right {
		padding: 0;
		padding-left: 15px;
	}

	.skinConvertia form.form-contact .form-button-right button {
		background-color: #38396a;
	}

	.skinConvertia form.form-contact .form-button-right button:hover,
	.skinConvertia form.form-contact .form-button-right button:focus {
		background-color: #59E2AD;
	}

	@media(max-width: 768px) {
		.skinConvertia section.contact .box-wrapper {
			margin-top: 0;
		}

		.skinConvertia form.form-contact textarea.form-control {
			margin-top: 30px;
		}
		.skinConvertia form.form-contact .form-button-right {
			text-align: center;
			margin-bottom: 30px;
		}
	}

	/* end contact */



	/* footer-addresses */
	.skinConvertia section.footer-addresses {
		padding: 60px 0;
	}

	.skinConvertia section.footer-addresses address,
	.skinConvertia section.footer-addresses h6 {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 0;
	}

	.skinConvertia section.footer-addresses address {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 0;
		padding-right: 30px;
		opacity: 0.7;
	}

	.skinConvertia section.footer-addresses h6 {
		color: #404040;
		font-family: 'Roboto', 'Hevetica', 'Arial', sans-serif;
		font-weight: bold;
		opacity: 0.7;
	}

	.skinConvertia section.footer-addresses .office a {
		color: #404040;
		text-decoration: none;
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 0;
		opacity: 0.7;
	}

	.skinConvertia section.footer-addresses .office a:hover,
	.skinConvertia section.footer-addresses .office a:focus {
		color: #30db98;
		text-decoration: underline;
	}

	.skinConvertia section.footer-addresses .net-socials {
		text-align: right;
		padding-left: 0;
	}

	.skinConvertia section.footer-addresses .net-socials ul {
		list-style: none;
		margin-block-start: 0em;
		margin-block-end: 0em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 0px;
		margin-bottom: 30px;
	}

	.skinConvertia section.footer-addresses .net-socials ul li {
		display: inline-block;
		padding-left: 22px;
	}

	.skinConvertia section.footer-addresses .net-socials ul li:first-child {
		padding-left: 0;
	}

	.skinConvertia section.footer-addresses .net-socials ul li a {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #30db98;
		background-color: #FFF;
		padding: 0;
		margin: 0;
		overflow: hidden;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia section.footer-addresses .net-socials ul li a:hover,
	.skinConvertia section.footer-addresses .net-socials ul li a:focus {
		background-color: #30db98;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia section.footer-addresses .net-socials ul li a img.ico,
	.skinConvertia section.footer-addresses .net-socials ul li a img.ico-white {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 18px;
		height: 18px;
		vertical-align: middle;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia section.footer-addresses .net-socials ul li a img.ico-white {
		opacity: 0;
	}

	.skinConvertia section.footer-addresses .net-socials ul li a:hover img.ico-white,
	.skinConvertia section.footer-addresses .net-socials ul li a:focus img.ico-white {
		opacity: 1;
		z-index: 1;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	/*
	.skinConvertia section.footer-addresses .net-socials a.ns-img-linkedin {
		background: url("/wp-content/uploads/2021/11/conv-site-global-icon-linkedin@2x.png") transparent no-repeat center center;
		background-size: 28px 28px;
	}

	.skinConvertia section.footer-addresses .net-socials a.ns-img-linkedin:hover,
	.skinConvertia section.footer-addresses .net-socials a.ns-img-linkedin:hover {
		background: url("/wp-content/uploads/2021/11/conv-site-global-icon-linkedin-white@2x.png") #59E2AD no-repeat center center;
		background-size: 28px 28px;
	}

	.skinConvertia section.footer-addresses .net-socials a.ns-img-twitter {
		background: url("/wp-content/uploads/2021/11/conv-site-global-icon-twitter@2x.png") transparent no-repeat center center;
		background-size: 28px 28px;
	}

	.skinConvertia section.footer-addresses .net-socials a.ns-img-twitter:hover,
	.skinConvertia section.footer-addresses .net-socials a.ns-img-twitter:hover {
		background: url("/wp-content/uploads/2021/11/conv-site-global-icon-twitter-white@2x.png") #59E2AD no-repeat center center;
		background-size: 28px 28px;
	}

	.skinConvertia section.footer-addresses .net-socials a.ns-img-facebook {
		background: url("/wp-content/uploads/2021/11/conv-site-global-icon-facebook@2x.png") transparent no-repeat center center;
		background-size: 28px 28px;
	}

	.skinConvertia section.footer-addresses .net-socials a.ns-img-facebook:hover,
	.skinConvertia section.footer-addresses .net-socials a.ns-img-facebook:hover {
		background: url("/wp-content/uploads/2021/11/conv-site-global-icon-facebook-white@2x.png") #59E2AD no-repeat center center;
		background-size: 28px 28px;
	}

	.skinConvertia section.footer-addresses .net-socials a.ns-img-instagram {
		background: url("/wp-content/uploads/2021/11/conv-site-global-icon-instagram@2x.png") transparent no-repeat center center;
		background-size: 28px 28px;
	}

	.skinConvertia section.footer-addresses .net-socials a.ns-img-instagram:hover,
	.skinConvertia section.footer-addresses .net-socials a.ns-img-instagram:hover {
		background: url("/wp-content/uploads/2021/11/conv-site-global-icon-instagram-white@2x.png") #59E2AD no-repeat center center;
		background-size: 28px 28px;
	}
	*/

	.skinConvertia section.footer-addresses button {
		font-size: 14px;
		line-height: 14px;
	}

	@media(max-width: 1199px) {
		.skinConvertia section.footer-addresses .net-socials {
			text-align: center;
			margin-top: 60px;
		}
	}

	@media(max-width: 768px) {

		.skinConvertia section.footer-addresses h6 {
			color: #404040;
		}

		.skinConvertia section.footer-addresses h6 span {
			font-weight: normal;
			color: #404040;
		}

		.skinConvertia section.footer-addresses .office {
			margin-bottom: 15px;
			text-align: center;
		}

		.skinConvertia section.footer-addresses .net-socials {
			margin-top: 0px;
		}

		.skinConvertia section.footer-addresses .net-socials ul {
			margin-top: 45px;
			margin-bottom: 30px;
		}

	}

	/* end footer-addresses */



	/* footer */

	.skinConvertia #wrapper-footer-widgets {
		background-color: #2B2C54 !important;
		font-size: 12px !important;
		line-height: 24px !important;
		height: 100px !important;
		padding: 0 !important;
		padding-top: 40px !important;
	}
	@media(max-width: 768px) {
		.skinConvertia #wrapper-footer-widgets {
			font-size: 10px !important;
			line-height: 18px !important;
		}
	}
	.skinConvertia #wrapper-footer-colophon {
		display: none!important;
	}

	.skinConvertia #wrapper-footer-widgets div.copyright,
	.skinConvertia #wrapper-footer-widgets div.policy {
		color: #9596AB !important;
		display: inline-block;
	}

	.skinConvertia #wrapper-footer-widgets div.policy {
		float: right;
		text-align: right;
	}

	.skinConvertia #wrapper-footer-widgets a {
		color: #9596AB !important;
		text-decoration: underline;
	}
	.skinConvertia #wrapper-footer-widgets a:hover {
		text-decoration: none;
	}

	@media(max-width: 992px) {

		.skinConvertia #wrapper-footer-widgets {
			padding-top: 30px !important;
		}

		.skinConvertia #wrapper-footer-widgets div.copyright,
		.skinConvertia #wrapper-footer-widgets div.policy {
			display: block;
			text-align: center;
			float: none;
			padding-bottom: 15px!important;
		}
	}

	@media(max-width: 768px) {
		.skinConvertia section.footer {
			padding: 0;
		}
		.skinConvertia #wrapper-footer-widgets {
			padding-top: 15px !important;
		}

		.skinConvertia #wrapper-footer-widgets span {
			display: block !important;
		}
	}

	/* end footer */




	/* intro-technology */

	.skinConvertia .intro-technology.int-tech-down {
		background-color: #2b2c54;
		padding-bottom: 85px;
	}

	.skinConvertia section.intro-technology h1 {
		color: #2b2c54;
		font-size: 40px;
		line-height: 50px;
		font-weight: bold;
		margin-bottom: 24px;
	}
	.skinConvertia section.intro-technology h2 {
		font-family: 'Roboto', 'Hevetica', 'Arial', sans-serif;
		color: #404040;
		opacity: 0.7;
		font-size: 18px;
		line-height: 28px;
		font-weight: normal;
		margin-bottom: 45px;
	}
	.skinConvertia section.intro-technology .btn-intro {
		margin-right: 20px;
	}

	.skinConvertia section.intro-technology p {
		color: #BFC0CC;
		opacity: 1;
	}

	.skinConvertia section.intro-technology p a {
		color: #BFC0CC;
		text-decoration: underline;
	}
	.skinConvertia section.intro-technology p a:hover,
	.skinConvertia section.intro-technology p a:focus {
		color: #fff;
		text-decoration: none;
	}

	.skinConvertia section.intro-technology .sect-right img {
		margin-bottom: -630px;
		width: 100%;
		height: auto;
	}

	@media (max-width: 768px) {

		.skinConvertia section.intro-technology h1 {
			font-size: 24px;
			line-height: 32px;
		}

		.skinConvertia section.intro-technology h2 {
			font-size: 14px;
			line-height: 24px;
		}

		.skinConvertia section.intro-technology .sect-right img {
			margin: 0;
			margin-left: -10%;
			margin-right: -10%;
			width: 120%;
			max-width: initial;
		}

		.skinConvertia section.intro-technology .btn.btn-intro {
			display: block;
			width: 100%;
			border: none;
			background-color: #30db98;
		}

		.skinConvertia section.intro-technology .h2-mobile {
			font-family: 'DM Sans', sans-serif;
			color: #fff;
			font-size: 24px;
			line-height: 32px;
			font-weight: bold;
			display: block;
			margin-bottom: 1rem;
			opacity: 1;
		}

		.skinConvertia section.intro-technology .capitalize {
			text-transform: capitalize;
		}

	}

	/* end intro-technology */



	/* technology-content */
	.skinConvertia section.technology-content {
		padding: 90px 0;
	}

	.skinConvertia section.technology-content .tech-item {
		margin-bottom: 60px;
		position: relative;
		display: block;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia section.technology-content .tech-item:hover,
	.skinConvertia section.technology-content .tech-item:focus {
		text-decoration: none;
	}

	.skinConvertia section.technology-content .tech-item:hover h3,
	.skinConvertia section.technology-content .tech-item:focus h3 {
		text-decoration: underline;
	}

	.skinConvertia section.technology-content .tech-item:hover .read-more,
	.skinConvertia section.technology-content .tech-item:focus .read-more {
		opacity: .5;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia section.technology-content .icon-wrapper {
		width: 40%;
		padding: 27px;
		display: inline-block;
		transform: translateY(0px);
		box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.16);

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.skinConvertia section.technology-content .tech-item:hover .icon-wrapper,
	.skinConvertia section.technology-content .tech-item:focus .icon-wrapper {
		transform: translateY(-30px);

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	@media(max-width: 768px) {
		.skinConvertia section.technology-content .icon-wrapper {
			width: auto;
		}
	}

	.skinConvertia section.technology-content .icon-wrapper img {
		width: 100%;
		height: auto;
	}

	.skinConvertia section.technology-content h3 {
		margin: 32px 0;
		opacity: 1;
		font-weight: bold;
	}

	.skinConvertia .read-more {
		display: inline-block;
		font-family: 'DM Sans', sans-serif;
		color: #2b2c54;
		font-size: 16px;
		line-height: 26px;
		font-weight: bold;
		margin-top: 41px;
		opacity: 1;
		text-decoration: underline;
	}

	.skinConvertia .read-more:hover,
	.skinConvertia .read-more:focus {
		text-decoration: none;
	}

	@media (max-width: 768px) {

		.skinConvertia section.technology-content {
			padding: 45px 0;
		}

		.skinConvertia section.technology-content .tech-item {
			margin-bottom: 30px;
			box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.16);
			padding: 20px;
		}

		.skinConvertia section.technology-content .icon-wrapper {
			padding: 0;
			box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.16);
			position: absolute;
			right: 0;
			top: 0;
		}

		.skinConvertia section.technology-content .icon-wrapper img {
			max-width: 70px;
		}

		.skinConvertia section.technology-content h3 {
			margin: 32px 0;
			opacity: 1;
			font-weight: bold;
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 20px;
		}

		.skinConvertia section.technology-content p {
			font-size: 16px;
			line-height: 26px;
		}

		.skinConvertia section.technology-content .read-more {
			font-family: 'Roboto', 'Hevetica', 'Arial', sans-serif;
			display: inline-block;
			color: #2b2c54;
			margin-top: 48px;
			font-size: 12px;
			line-height: 26px;
			opacity: 0.7;
			font-weight: bold;
			text-decoration: underline;
		}

	}



	/* end technology-content */

	/* end sections